.App {
  text-align: center;
  background-color: #F4F3F1;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.App-logo {
  height: 35vmin;
  pointer-events: none;
}

/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

.App-header {
  background-color: #F4F3F1;
  min-height: 100vh;
  min-width: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-body {
  background-color: #F4F3F1;
  min-width: 50vh;
 /* display: flex;*/
  /*flex-direction:row;*/
  align-items: center;
  justify-content: center;
  /*font-size: calc(10px + 2vmin);
  color: white;*/
}


/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/
.HomepageButton{
  background-color: #c4b8a3 !important;
  border-color: transparent !important;
}
.ModalStyle .modal-content{
  background-color:#F4F3F1 ;
}
.HomepageLabel{
  color: #8d7070;
}
